.inventory-container {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 1000;
}

.chest-back {
  display: absolute;
  width: 350px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/chestBack.png");
}

.inventory-window {
  position: absolute;
  left: 24px;
  width: 100%;
  height: 100%;
}

.chest-button {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chest-back {
  position: absolute;
  top: 5px;
  width: 360px;
  height: 155px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chest-button:hover {
  transform: scale(0.98); 
}