.chest-button {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chest-front,
.chest-closed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chest-front {
  background-image: url('/assets/chestFront.png');
}

.chest-closed {
  background-image: url('/assets/chestClosed.png');
}

.label {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: x-large;
}