.chest-front,
.chest-closed {
  position: fixed;
  width: 350px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chest-front {
  background-image: url('/assets/chestFront.png');
}

.chest-closed {
  background-image: url('/assets/chestClosed.png');
}

.chest-button {
  width: 80px;
  height: 80px;
  background-color: #8b4513;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}