.inventory-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 25vw;
  height: 20vh;
  cursor: pointer;
  z-index: 1000;
}

.chest-back,
.chest-closed,
.chest-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.chest-back {
  background-image: url('/assets/chestBack.png');
  z-index: 900;
}

.chest-closed {
  background-image: url('/assets/chestClosed.png');
  z-index: 1400;
}

.chest-front {
  background-image: url('/assets/chestFront.png');
  z-index: 1300;
}

.inventory-window {
  position: absolute;
  top: -100px;
  left: 30px;
  right: 15px;
  width: 19vw;
  height: 30vh;
  background: rgb(159, 75, 75);
  color: white;
  z-index: 1000;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventory-window.open {
  transform: scaleY(2);
}
